.root {
    -fx-font-size: 9pt;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.element-editor {
    -fx-pref-width: 600;
    -fx-pref-height: 400;

}

.element-name {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.editor-tab {
    -fx-background-color: gainsboro;
    -fx-spacing: 5;
    -fx-padding: 5;
}

.description {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-pref-height: 150;
}

.hbox {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: gainsboro;
 }

.vbox {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-background-color: gainsboro;
}

.data-grid {
    -fx-vgap: 4;
    -fx-hgap: 8;
}

.icon-grid {
    -fx-vgap: 8;
    -fx-hgap: 16;
}