.root {
    -fx-font-size: 10pt;
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-alignment: center;
}

.element-editor {
    -fx-pref-width: 600;
    -fx-pref-height: 500;
}

.element-name {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.editor-tab {
    -fx-background-color: lightgray;
    -fx-spacing: 5;
    -fx-padding: 5;
}


.hbox {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-alignment: center;
 }

.vbox {
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-alignment: center;
}

.data-grid {
    -fx-vgap: 2;
    -fx-hgap: 4;
}

.icon-grid {
    -fx-vgap: 5;
    -fx-hgap: 4;
}