.root {
    -fx-font-size: 9pt;
    /*-fx-background-color: #CCFF99;*/
}

.tool-bar {
    -fx-background-color: transparent;
}

.estab-editor {
    -fx-background-color: transparent;
}

.search-box {
    -fx-padding: 4, 4, 4, 4;
    -fx-spacing: 8;
    -fx-background-color: transparent;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.element-editor {
    -fx-padding: 4, 4, 4, 4;
    -fx-background-color: transparent;
    -fx-pref-width: 492;
    -fx-pref-height: 400;
}

.element-editor-header {
    -fx-padding: 4;
    -fx-spacing: 8;
}

.element-editor .text-field {
    -fx-pref-width: 45;
}

.estab-info {
    -fx-spacing: 4;
    -fx-padding: 4;
    -fx-pref-width: 100%;
    -fx-border-color: darkgray;
    /*-fx-background-color: rgba(0, 0, 0, 0.75),*/
    /*rgba(255, 255, 255, 0.75),*/
    /*linear-gradient(to bottom, khaki 0%,  #CCFF99 100%);*/
}

.estab-info .text-field {
    -fx-pref-width: 50;
}

.estab-name {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-pref-width: 150;
}

.editor-tab {
    -fx-padding: 4;
    -fx-background-color: transparent;
}
.description {
    -fx-spacing: 10;
    -fx-padding: 4;
    -fx-pref-height: 100;
}

.data-grid {
    -fx-vgap: 4;
    -fx-hgap: 6;
}

.button {
    -fx-font-size: 12
}

.estab-image-editor {
    -fx-padding: 4;
    -fx-border-color: darkgray;
    -fx-border-width: 1;
}

.element-image {
    -fx-max-width: 96;
    -fx-max-height: 61;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}


.bordered-label {
    -fx-border-color: darkgray;
}


.force-color {
    -fx-background-color: olive;
}

.service-color {
    -fx-background-color: yellowgreen;
}

.nation-color {
    -fx-background-color: darkkhaki;
}

.side-color {
    -fx-background-color: khaki;
}

.vehicle-color {
    -fx-background-color: deepskyblue;
}

.weapon-color {
    -fx-background-color: orangered;
}

.ammo-color {
    -fx-background-color: gold;
}
